{% set cur_route = app.request.attributes.get('_route') %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand text" href="{{ path('inAccount') }}">iHate</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li {{ cur_route=='myMates'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('myMates') }}">My Mates</a></li>
                    <li {{ cur_route=='edit'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('edit') }}">Profile</a></li>
                    <li {{ cur_route=='#about'?'class="active text"' }}class="sideli"><a href="#about">About</a></li>
                    <li {{ cur_route=='logout'?'class="active text"' }}class="sideli"><a href="{{ path('logout') }}">Sign out</a></li>
                </ul>
                <form action="{{ path('search') }}" method="get" class="navbar-form navbar-right">
                    <input type="text" name="search" class="form-control searchText" placeholder="Search for friends..." value="{{ search|default('') }}">
                </form>
            </div>
        </div>
</div>