{% set cur_route = app.request.attributes.get('_route') %}
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="nav nav-sidebar">
                <a href="{{ path('edit') }}" class="thumbnail">
                     <img src="{{ asset(app.user.showImage()) }}"/>
                </a>
            </div>
            <div class="nav nav-sidebar">
               <p style="padding-left: 25%;" class="sideli"><b>Hello ,</b></p> <p style="padding-left: 15%;" class="sideli">{{ app.user.name }} {{ app.user.surname }}</p>
            </div>
            <ul class="nav nav-sidebar">
                <li {{ cur_route=='inAccount'?'class="active sideli"' }} class="sideli"><a href="{{ path('inAccount') }}">My First Page</a></li>
                <li {{ cur_route=='create'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('create') }}">Create New Hate</a></li>
                <li {{ cur_route=='myHates'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('myHates') }}">My Own Hates</a></li>
            </ul>
        </div>
    </div>
</div>
