{% set cur_route = app.request.attributes.get('_route') %}
<div class="container-fluid">
    <div class="row">
        <div>
            <div class="nav nav-sidebar">
                <a href="{{ path('edit') }}" class="thumbnail">
                     <img src="{{ asset(app.user.showImage()) }}"/>
                </a>
            </div>
            <div class="nav nav-sidebar">
               <p><b>Hello ,</b></p> <p class="sideli">{{ app.user.name }} {{ app.user.surname }}</p>
            </div>
            <ul class="nav nav-sidebar">
                <li {{ cur_route=='edit'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('edit') }}">MyProfile</a></li>
                <li {{ cur_route=='create'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('create') }}">NewHate</a></li>
                <li {{ cur_route=='myHates'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('myHates') }}">MyHates</a></li>
                <li {{ cur_route=='myMates'?'class="active sideli"':'class="sideli"' }}><a href="{{ path('myMates') }}">MyMates</a></li>
            </ul>
        </div>
    </div>
</div>
