<div class="row">
    <a href="{{ path('edit') }}" class="thumbnail">
        <img src="{{ asset(app.user.showImage()) }}"/>
        {# <img data-src="holder.js/150x150" alt="Place for avatar">#}
    </a>
</div>
<div class="row">
    <div class="well main-content">
        <p><b>Hello ,</b></p> <p class="text">{{ app.user.name }} {{ app.user.surname }}</p>
    </div>
</div>
<div class="row">
    <div class="main-content">

        <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="{{ path('edit') }}">My Profile</a></li>
            <li class="active"><a href="{{ path('create') }}">Create new Hate</a></li>
            <li class="active"><a href="#">My Own Hates</a></li>
            <li class="active"><a href="#">My Hate Mates</a></li>
        </ul>
    </div>
</div>