{% extends "ihateClientBundle::layoutLoggedIn.html.twig" %}

{% block content %}
    <div style="margin-top: 20px;" class="well">
        <h3>You searched for "{{ search }}"</h3>
        {% if users %}
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>First Name</th>
                        <th>Surname</th>
                    </tr>
                    </thead>
                    {% for user in users %}
                        <tr class="{{ cycle(['even', 'odd'], loop.index) }}">
                            <td>{{ loop.index }}</td>
                            <td class="name">{{ user.name }}</td>
                            <td class="surname">{{ user.surname }}</td>
                            <td>
                                {% if app.user.isFollowed(user) %}
                                    <a href="{{ path('unfollow', { 'id': user.id }) }}" type="button" class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-minus"></span> Remove</a>

                                {% else %}
                                    <a href="{{ path('follow', { 'id': user.id }) }}" type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-plus"></span> Add</a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
        {% else %}
                <h2>Sorry, there's no one here by that name</h2>
        {% endif %}
    </div>
{% endblock %}