<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>iHate</title>
        {% stylesheets
        '@ihateClientBundle/Resources/public/css/bootstrap.css'
        '@ihateClientBundle/Resources/public/css/dashboard.css'
        '@ihateClientBundle/Resources/public/css/fancyline.css'
        '@ihateClientBundle/Resources/public/css/custom.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    </head>
    <body>
        <div class="row">
            {{ include('ihateClientBundle:PageStructure:navbarIn.html.twig') }}
            <div class="col-sm-3 col-md-3 col-lg-2 col-lg-offset-1 sidebar">
                {{ include('ihateClientBundle:PageStructure:sideMenuIn.html.twig') }}
            </div>
            <div class="col-sm-6 col-sm-offset-3 col-md-6 col-lg-5 col-lg-offset-3">
                {% block content '' %}
            </div>
            <div class="col-sm-3 col-md-3 col-lg-3">
                <div class="container-fluid" style="position: fixed">
                    {{ render(controller('ihateClientBundle:Top:postTop')) }}
                    {{ render(controller('ihateClientBundle:Top:userTop')) }}
                </div>
            </div>
        </div>
        <div id="footer">
            <div class="container">
                <p class="text-muted">OLOLO some footer text!</p>
            </div>
        </div>

        {% javascripts
        '@ihateClientBundle/Resources/public/js/jquery.js'
        '@ihateClientBundle/Resources/public/js/bootstrap.js'
        '@ihateClientBundle/Resources/public/js/holder.js'
        '@ihateClientBundle/Resources/public/js/hyphenate.js'
        %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
    </body>
</html>
