<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>iHate</title>
        {% stylesheets
        '@ihateClientBundle/Resources/public/css/bootstrap.css'
        '@ihateClientBundle/Resources/public/css/dashboard.css'
        '@ihateClientBundle/Resources/public/css/fancyline.css'
        '@ihateClientBundle/Resources/public/css/custom.css'
        '@ihateClientBundle/Resources/public/css/custom1.css'
        %}
        <link rel="stylesheet" href="{{ asset_url }}"/>
        <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Roboto+Slab:300' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Balthazar' rel='stylesheet' type='text/css'>
        {% endstylesheets %}
    </head>
    <!-- HTML code from Bootply.com editor -->

    <body>
        <div class="wrapper">
            <div class="box">
                <div class="row row-offcanvas row-offcanvas-left">
                <!-- sidebar -->
                {{ include('ihateClientBundle:PageStructure:sideMenuIn.html.twig') }}
                <!-- /sidebar -->

                <!-- main right col -->
                    <div class="column col-sm-10 col-xs-11" id="main">
                        <!-- top nav -->
                        {{ include('ihateClientBundle:PageStructure:navbarIn.html.twig') }}
                        <!-- /top nav -->
                        <div class="padding">
                            <div class="full col-sm-9">
                                <!-- content -->
                                <div class="row">
                                    <!-- main col left -->
                                    <div class="col-sm-7">
                                        {% block content '' %}
                                    </div>
                                    <!-- main col right -->
                                    <div class="col-sm-5">
                                        {{ render(controller('ihateClientBundle:Top:postTop')) }}
                                        <hr class="fancy-line">
                                        {{ render(controller('ihateClientBundle:Top:userTop')) }}
                                    </div>
                                </div>
                            </div><!--/row-->

                            <div class="row" id="footer">
                                <div class=" col-sm-offset-6 col-sm-6">
                                    <p>
                                        <a href="#" class="pull-right">©Copyright 2014</a>
                                    </p>
                                </div>
                            </div>
                            <hr>
                            <h4 class="text-center">
                                <a href="http://bootply.com/96266" target="ext">Made by Vladimir Stirmanov for qualifying work.</a>
                            </h4>
                            <hr>
                        </div><!-- /col-9 -->
                    </div><!-- /padding -->
                </div>
                    <!-- /main -->
            </div>
        </div>
            {% javascripts
            '@ihateClientBundle/Resources/public/js/jquery.js'
            '@ihateClientBundle/Resources/public/js/bootstrap.js'
            '@ihateClientBundle/Resources/public/js/holder.js'
            '@ihateClientBundle/Resources/public/js/hyphenate.js'
            %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
            {% endjavascripts %}
    </body>
</html>
